{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<h1>Little About Me</h1>
<div style="text-align: center;">
    <img src="{% static 'img/tom.jpeg' %}" style="width:30%;">
</div>
<p>Hey, I’m Jesus Munoz, a sneakerhead with a passion for creativity and innovation. Whether I’m lacing up a fresh pair or brainstorming the next big idea, I’m all about blending style, practicality, and originality to stand out.</p>

<p>My obsession with kicks goes beyond the surface – it’s about the culture, the stories behind the designs, and the problem-solving that makes each sneaker a masterpiece.</p>
    
<p>From copping grails to electrifying ideas, I’m here to bring the heat, connect with like-minded thinkers, and make a statement – one step at a time.</p>
    
<p>Let’s connect and talk sneakers, tech, and everything in between!</p>
{% endblock content %}